/*#region*/
    #resize {
		resize: both;
		padding: 10px;
    }
    #testbranch {
		color: #555555;
        font-size: 500%;
    }
    body {
        background-color: #444444;
		height: 1080px;
    }
    #title {
        text-align: center;
    }
    span.title {
        font-family: calibri;
        background-color: #777777;
        padding: 10px;
        border-radius: 20px;
    }
    p span {
        background-color: #dddddd;
        padding: 5px;
        border-radius: 20px;
        margin-right: 70%;
        text-align: center;
    }
    #thebiggestfunny {
        margin: 10px 50px;
        width: 300px;
    }
    #funnyanswer {
        font-family: monospace;
    }
    #answerspan {
        background-color: #777777;
        padding: 5px;
        border-radius: 10px;
    }
    #changeMode:active {
        background-color: #ffffff;
    }
    #funny2 {
        font-family: monospace;
        word-wrap: break-word;
        resize:vertical;
        width: 270px;
    }
    #list1 {
        font-family: monospace;
        color: #b7b7b7;
        font-size: xx-large;
        margin-left: 2%;
        margin-right: 2%;
    }
    #store {
        font-family: monospace;
        font-weight: 900;
    }
    #mode {
        font-family: monospace;
        font-weight: 900;
    }
    #calculator {
        width: 2px;
        height: 250px;
        overflow: none;
    }
    #ChangeMode {
        width: 200px;
        height: 21px;
    }
    table {
        margin-left: auto;
        margin-right: auto;
        background-color: #aaaaaa;
    }
    input[type="button"] {
        width: 100%;
        padding: 10px 20px;
        background-color: #d1d1d1;
        color: grey;
        font-size: 15px;
        font-weight: bold;
        border: none;
        font-family: monospace;
    }
    input[type="text"] {
        padding: 20px 30px;
        font-size: 24px;
        font-weight: bold;
        font-family: monospace;
        border: none;
        border-radius: 5px;
        border: 2px solid black;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    #textinput {
        word-break: break-word;
        min-width: 97px;
    }
    #filenames {
        width: 200px;
        height: 20px;
        resize: none;
    }
    #subject {
		margin-left: 14px;
    }
    #mspaintpremium {
		width: 450px;
		height: 450px;
    }
    #canvas_div {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #menu {
		position: relative;
		float: right;
    }
	#radius {
		margin-left: 51px;
	  }
	  #diameter {
		margin-left: 36px;
	  }
	  #area {
		margin-left: 64px;
	  }
	  #radius2 {
		margin-left: 51px;
	  }
	  #diameter2 {
		margin-left: 36px;
	  }
	  #area2 {
		margin-left: 64px;
	  }
	  #height {
		margin-left: 52px;
	  }
	  #surfarea {
		margin-left: 12px;
	  }
	  #volume {
		margin-left: 46px;
	  }
	  #radius3 {
		margin-left: 51px;
	  }
	  #diameter3 {
		margin-left: 36px;
	  }
	  #area3 {
		margin-left: 64px;
	  }
	  #height3 {
		margin-left: 52px;
	  }
	  #surfarea3 {
		margin-left: 12px;
	  }
	  #volume3 {
		margin-left: 46px;
	  }

	  #sidebar textarea {
		max-width: 98%;
		width: 98%;
		max-height: 25%;
		word-wrap:unset;
	  }
	/*Classes*/
	    .static {
			position: static;
	    }
	    .sidebar {
    		height: 720px;
    		width: 0;
    		position: fixed;
    		z-index: 10;
    		top: 0;
    		left: 0;
    		background-color: #aaaaaa;
    		overflow-x: hidden;
			overflow-y: hidden;
    		padding-top: 60px;
    		transition: 0.5s;
			border-style: none none none none;
			border-color: #444444;
	    }
	    .sidebar1 {
    		height: 100%;
    		width: 0px;
    		position: fixed;
    		z-index: 100;
    		top: 0;
    		right: 0;
    		background-color: #aaaaaa;
    		overflow-x: hidden;
			overflow-y: hidden;
    		padding-top: 60px;
    		transition: 0.5s;
			border-style: none none none none;
			border-color: #ffffff;
	    }
	    .sidebar .closebtn {
	  		position: absolute;
	  		top: 0;
	  		right: 25px;
	  		font-size: 36px;
	  		margin-left: 50px;
	    }
	    .sidebar buttone {
    		padding: 8px 8px 8px 32px;
    		text-decoration: none;
    		font-size: 25px;
    		color: #818181;
    		display: block;
    		transition: 0.3s;
    	    }
	    .openbtn {
			border-radius: 10px;
			padding: 1px 10px;
			border: none;
			cursor: pointer;
			background-color: #aaaaaa;
			font-size: 20px;
	    }
	    .sticky {
			position: -webkit-sticky;
	       	position: sticky;
	       	top: 0;
	       	background-color: #666;
	       	padding: 4px;
	       	font-size: 25px;
		    z-index: 2;
		    margin-top: -10px;
	    }
	    .inline {
			display: inline-block;
	    }
	    .windowdiv {
	        background-color: #555555;
	        padding: 5px;
	        font-family: monospace;
	    }
	    .windowform {
	        font-family: monospace;
	    }
	    .windowfield {
	        background-color: #aaaaaa;
	    }
	    .windowlegend {
	        background-color: #555555;
	        padding: 5px;
	        font-family: monospace;
	    }
	    .font1 {
			font-family: monospace;
	    }
	    .small {
	        margin-top: 1px;
	        margin-bottom: 1px;
	    }
	    .draggable {
	        position: absolute;
	        z-index: 1;
	    }
	    .noselc {
	        -webkit-touch-callout: none;
	        -webkit-user-select: none;
	        -khtml-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	    }
	    .switch input {
	        opacity: 0;
	        width: 0;
	        height: 0;
	    }
	    .switch {
	        position: relative;
	        display: inline-block;
	        width: 60px;
	        height: 20px;
	    }
	    .slider {
	        position: absolute;
	        cursor: pointer;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        background-color: #ccc;
	        -webkit-transition: .1s;
	        transition: .1s;
	    }
	    .slider:before {
        	position: absolute;
	        content: "";
	        height: 16px;
	        width: 26px;
	        left: 4px;
	        bottom: 2px;
	        background-color: white;
	        -webkit-transition: .1s;
	        transition: .1s;
	    }
	    .divlabel {
			margin-bottom: 0px;
	    }
	    .alignlabelmiddle {
			display: inline-block;
	    }
	/*Classes End*/
/*#endregion*/
